// SET UP STYLES
@import 'normalize';
@import 'variables';
// FONT STYLES

html,
body {
	height: 100%;
}

body {
	font-family: $bodyCopy;
	// font-size: 13px;
}

// h1, h2, h3, h4 {
// 	font-family: $headerCopy;
// }
// .wrapper {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: column;
// }

// .content-wrapper {
// 	display: flex;
// 	// overflow: hidden;
// }

// .marvel-title {
// 	background: $red;
// 	color: white;
// 	width: 30%;
// 	h1 {
// 		text-align: center;
// 		letter-spacing: -3px;
// 		font-size: 60px;
// 		text-transform: uppercase;
// 		margin: 0 auto;
// 		width: 100%;
// 	}
// }

// main {
// 	height: 100%;
// 	width: 100%;	
// }

.slideContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  transition: all .75s ease-in-out;
}

.labels {
	position: absolute;
	left:0;
	top:0;
	z-index: 3;
}

.thorSlide {
	background: url(../images/thor.jpg);
	background-size:cover;
	background-position: center;
	left:0;
}

.guardiansSlide {
	background:url(../images/guardians.jpg);
	background-size:cover;
	background-position: center;
	left:100%;
}

.antSlide {
	background: url(../images/ant-man.jpg);
	background-size:cover;
	background-position: center;
	left:200%;
}

.captainSlide {
	background:url(../images/cpt-america.jpg);
	background-size:cover;
	background-position: center;
	left:300%;
}

.doctorSlide {
	background:url(../images/dr-strange.jpg);
	background-size:cover;
	background-position: center;
	left:400%;
}

.guardians:checked ~ .thorSlide {
  left:-100%;
}

.guardians:checked ~ .guardiansSlide {
  left:0;
}

.guardians:checked ~ .antSlide {
  left:100%;
}

.guardians:checked ~ .captainSlide {
  left:200%;
}

.guardians:checked ~ .doctorSlide {
  left:300%;
}

.ant:checked ~ .thorSlide {
  left:-200%;
}

.ant:checked ~ .guardiansSlide {
  left:-100%;
}

.ant:checked ~ .antSlide {
  left:0;
}

.ant:checked ~ .captainSlide {
  left:100%;
}

.ant:checked ~ .doctorSlide {
  left:200%;
}

.captain:checked ~ .thorSlide {
  left:-300%;
}

.captain:checked ~ .guardiansSlide {
  left:-200%;
}

.captain:checked ~ .antSlide {
  left:-100%;
}

.captain:checked ~ .captainSlide {
  left:0;
}

.captain:checked ~ .doctorSlide {
  left:100%;
}

.doctor:checked ~ .thorSlide {
  left:-400%;
}

.doctor:checked ~ .guardiansSlide {
  left:-300%;
}

.doctor:checked ~ .antSlide {
  left:-200%;
}

.doctor:checked ~ .captainSlide {
  left:-100%;
}

.doctor:checked ~ .doctorSlide {
  left:0;
}