// SET UP STYLES
@import 'normalize';
@import 'variables';
// FONT STYLES
$red: #F01B1E;
$darkGrey: #343F44;
$lightGrey: #959595;
$white: #F6F6F3;
$headerCopy: 'Oswald', sans-serif;
$bodyCopy: 'Lato', sans-serif; 

html,
body {
	height: 100%;
}

body {
	font-family: $bodyCopy;
	// font-size: 13px;
}

// LOADING ANIMATION

.loadOverlay {
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
	visibility: visible;
	opacity: 1;
	width: 100vw;
	height: 100vh;
	background: #343F44;
	display: flex;
}

.soonContent {
  background:$white;
  width: 30%;
  box-shadow: 5px 5px 0 0 #959595;
  transform:skew(-15deg);
  margin:auto;
  position: relative;
}

.soonContent p {
  margin:0;
  padding: 70px;
  transform:skew(15deg);
  font-size: 20px;
  font-weight: 700;
}

.marvel {
	font-family: $headerCopy;
	letter-spacing: -1px;
	font-size: 25px;
	text-transform: uppercase;
	background: $red;
	color: $white;
}

.comingSoon {
  background:$white;
  display: inline-block;
  border: 2px solid black;
  box-shadow: 4px 4px 0 -2px $white, 4px 4px 0 0 black;
  position: absolute;
  top:-27px;
  left:-81px;
  transform:skew(15deg);
}

.comingSoon p {
  margin: 0;
  padding: 15px;
  transform:skew(0deg);
  font-size: 20px;
  font-weight: 700;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
	font-family: $headerCopy;
}

.marvel-title {
	position: absolute;
	top:0;
	left:0;
	z-index:5;
	background: $red;
	color: $white;
	width: 30%;
	h1 {
		text-align: center;
		letter-spacing: -3px;
		font-size: 60px;
		text-transform: uppercase;
		margin: 0 auto;
		width: 100%;
	}
}

// main {
// 	height: 100%;
// 	width: 100%;	
// }

.slideContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  transition: all .75s ease-in-out;
}

input {
	display: none;
}

.labels {
	position: absolute;
	left:0;
	bottom:0;
	text-align: center;
	width: 100%;
	z-index: 3;
}

label {
	display:inline-block;
	width: 20px;
	height: 20px;
	// margin-right: 25px;
	border:2px solid black;
	border-radius: 50%;
	background:$white;
	margin:15px 5px;
	box-shadow: 3px 3px 0 -2px $white, 3px 3px 0 0 black;
}

.selected {
	background:$red;
}

.thorSlide {
	left:0;
}

.guardiansSlide {
	left:100%;
}

.antSlide {
	left:200%;
}

.captainSlide {
	left:300%;
}

.doctorSlide {
	left:400%;
}

.guardians:checked ~ .thorSlide {
  left:-100%;
}

.guardians:checked ~ .guardiansSlide {
  left:0;
}

.guardians:checked ~ .antSlide {
  left:100%;
}

.guardians:checked ~ .captainSlide {
  left:200%;
}

.guardians:checked ~ .doctorSlide {
  left:300%;
}

.ant:checked ~ .thorSlide {
  left:-200%;
}

.ant:checked ~ .guardiansSlide {
  left:-100%;
}

.ant:checked ~ .antSlide {
  left:0;
}

.ant:checked ~ .captainSlide {
  left:100%;
}

.ant:checked ~ .doctorSlide {
  left:200%;
}

.captain:checked ~ .thorSlide {
  left:-300%;
}

.captain:checked ~ .guardiansSlide {
  left:-200%;
}

.captain:checked ~ .antSlide {
  left:-100%;
}

.captain:checked ~ .captainSlide {
  left:0;
}

.captain:checked ~ .doctorSlide {
  left:100%;
}

.doctor:checked ~ .thorSlide {
  left:-400%;
}

.doctor:checked ~ .guardiansSlide {
  left:-300%;
}

.doctor:checked ~ .antSlide {
  left:-200%;
}

.doctor:checked ~ .captainSlide {
  left:-100%;
}

.doctor:checked ~ .doctorSlide {
  left:0;
}

.thorHero {
	height: 100%;
	width: 100%;
	background: url(../images/thor.jpg);
	background-size:cover;
	background-position: center;
	position: relative;
}

.fa-bolt {
	position: absolute;
	right:0;
	bottom:0;
	width: 120px;
	fill:url(#MyGradientOne);
	animation-name:thunder;
	animation-duration:.5s;
	animation-iteration-count: infinite;
}

@keyframes thunder {
	0% {fill:url(#MyGradientTwo);}
	100% {fill:url(#MyGradientOne);}
}

.guardiansHero {
	height: 100%;
	width: 100%;
	background:url(../images/guardians.jpg);
	background-size:cover;
	background-position: center;
}

.antHero {
	height: 100%;
	width: 100%;
	background: url(../images/ant-man.jpg);
	background-size:cover;
	background-position: center;
}

.captainHero {
	height: 100%;
	width: 100%;
	background:url(../images/cpt-america.jpg);
	background-size:cover;
	background-position: center;
}

.doctorHero {
	height: 100%;
	width: 100%;
	background:url(../images/dr-strange.jpg);
	background-size:cover;
	background-position: center;
}

.comic {
	display: inline-block;
	width: 25%;
}

.comicCover {
	max-width: 100%;
}

.hidden {
	display: none;
}

h2 {
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;
	font-weight:700;
	text-align: center;
}

.film {
	background:$white;
	position: relative;
	top:2%;
	left:2%;
	// text-align: center;
	border:3px solid black;
	padding:10px 25px;
	display: inline-block;
	z-index: 2;
	width: 350px;
	box-shadow: 6px 6px 0 -3px $white, 6px 6px 0 0 black;
}

.release {
	// position: absolute;
	// text-align: center;
	// bottom:0;
	width: 140px;
	// left:100%;
	background: $red;
	padding: 3px 10px;
	display: inline-block;
	transform:skew(-18deg);
	transform-origin: left center;
	// z-index:1;
}

.antRelease,
.guardRelease {
	width: 160px;
}

.date {
	margin: 0;
	text-align: right;
	transform:skew(18deg);
	text-transform: uppercase;
	// z-index:1;
}