// SET UP STYLES
@import 'normalize';
@import 'variables';
// FONT STYLES

body {
	font-family: $bodyCopy;
	font-size: 13px;
}


h1, h2, h3, h4 {
	font-family: $headerCopy;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content-wrapper {
	display: flex;
}

.marvel-title {
	background: $red;
	color: white;
	width: 30%;
	h1 {
		text-align: center;
		letter-spacing: -3px;
		font-size: 60px;
		text-transform: uppercase;
		margin: 0 auto;
		width: 100%;
	}
}